# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> sentry/sentry-symfony ###
SENTRY_DSN=
###< sentry/sentry-symfony ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
REDIS_PASSWORD=gk8g5zMxFQuCTC

########################################################################
# MySQL
########################################################################
MYSQL_PORT=3308
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=magento24
MYSQL_USER=magento_user
MYSQL_PASSWORD=szSdiQWy7Hp9Fy

########################################################################
# PHP
########################################################################
PHP_PORT=9002
PHP_XDEBUG_MODE=off
PHP_XDEBUG_CLIENT_PORT=5902
PHP_XDEBUG_CLIENT_HOST=host.docker.internal

########################################################################
# NGINX
########################################################################
NGINX_PORT=8096
NGINX_SYMFONY_SERVER_NAME=symfony.local
########################################################################
# Elasticsearch
########################################################################
ELASTICSEARCH_PORT=9400
ELASTICSEARCH_URL=http://127.0.0.1:9400
REDIS_PORT=6389
########################################################################
# RabbitMQ
########################################################################
RABBITMQ_PORT=6672
RABBITMQ_ADMIN_PORT=16672

ALPINE_VERSION=3.10
########################################################################
# minio
########################################################################
MINIO_PORT=9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=7sxChCC6JWe23W

